body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
}

button{
    color: white;
    background-color: #875c12;
    font-size: 18px;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}

button:hover{
    border: 2px beige solid;
}

.top{
    background-color: rgba(70,61,56,0.8);
    height: 10vh;
    text-align: center;
    padding: 10px;
}

.main{
    display: flex;
    height: 90vh; 
    background-image: url("img/desk_top_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.widget{
    height: 80vh;
    background-color: rgba(0,0,0,0.2); 
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    width: 32%;
    min-width: 300px;
    text-align: center;
}

.notepad{
    max-width: 30vw;
    font-size: 20px;
}

#date{
    position:absolute;
    top:5vh;
    left: 50px;
    font-size: 20px;
    border: 2px solid beige;
    padding: 5px;
}

#clock{
    position:absolute;
    top:5vh;
    right: 50px;
    font-size: 20px;
    border: 2px solid beige;
    padding: 5px;
}

#note-area{
    font-size: 18px;
    max-width: 28vw;
    min-width: 15vw;
    max-height: 58vh;
    min-height: 25vh;
}