

body {
    background-color: rgb(122, 207, 207);
    text-align: center;
}

li {
    font-size:20px;
    font-family: 'Comfortaa', cursive;
}

#header {
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    background-color:rgb(225, 241, 236);;
    border-radius: 15px;
    width:1000px;
    position:relative;
    left:200px;
}

#li-wrap {
    background-color:rgb(225, 241, 236);
    border-radius:15px;
    width:500px;
    position:relative;
    left:450px;
}

a {
    background-color:white;
}

#main {
    position:relative;
    top:170px;
}